:root {
  /* Fonts */
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Quicksand", sans-serif;
  --nav-font: "Open Sans", sans-serif;

  /* Global Colors */
  --background-color: #ffffff;
  --default-color: #314862;
  --heading-color: #13447f;
  --accent-color: #065cc2;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;

  /* Nav Menu Colors */
  --nav-color: #314862;
  --nav-hover-color: #065cc2;
  --nav-mobile-background-color: #11427d;
  --nav-dropdown-background-color: #065cc2;
  --nav-dropdown-color: #acc4e0;
  --nav-dropdown-hover-color: #ffffff;

  /* Scroll behavior */
  scroll-behavior: smooth;
}
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}
.php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
