#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--accent-color);
  border-top-color: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  background: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
  color: var(--contrast-color);
}

.scroll-top.active {
  opacity: 1;
  visibility: visible;
}
